@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.file-import {
  @apply block m-10 w-full
  mr-4 py-2 px-4 duration-300
  rounded-full border-0
  text-sm font-semibold
  shadow-lg shadow-slate-700/30 
  hover:shadow-md hover:shadow-slate-700/30
  active:shadow-none
  bg-slate-700 text-slate-100;
}
